<?xml version="1.0" encoding="utf-8"?>

<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="image_fps" value="30" />
    </node> 

    <!--include file="$(find darknet_ros)/launch/darknet_ros.launch"-->
    <include file="$(find darknet_ros)/launch/yolo_v3.launch">
        <arg name="image" value="/usb_cam/image_raw"/>
    </include>

    <node name="crowd_detector" pkg="crowd_detection" type="crowd_detector.py" output="screen"/>

</launch>
