<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!--include file="$(find darknet_ros)/launch/darknet_ros.launch"-->
    <include file="$(find darknet_ros)/launch/person_yolo.launch">
        <arg name="image" value="/usb_cam/image_raw"/>
    </include>

    <node name="crowd_detector" pkg="crowd_detection" type="crowd_detector.py" output="screen"/>
</launch>
